/* Font declarations */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Kontrapunkt Miki";
  src: url("assets/fonts/KontrapunktMiki-Regular.otf") format("opentype"), url("assets/fonts/KontrapunktMiki-Regular.woff2") format("woff2"), url("assets/fonts/KontrapunktMiki-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kontrapunkt Miki";
  src: url("assets/fonts/KontrapunktMiki-Bold.otf") format("opentype"), url("assets/fonts/KontrapunktMiki-Bold.woff2") format("woff2"), url("assets/fonts/KontrapunktMiki-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kontrapunkt Miki";
  src: url("assets/fonts/KontrapunktMiki-ExtraBold.otf") format("opentype"), url("assets/fonts/KontrapunktMiki-ExtraBold.woff2") format("woff2"), url("assets/fonts/KontrapunktMiki-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  /* TYPOGRAPHY*/
  /* Font sizes */
  --font-size-XS: 0.625rem; /* 10px */
  --font-size-S: 0.75rem; /* 12px */
  --font-size-M: 1rem; /* 16px BASE SIZE */
  --font-size-L: 1.25rem; /* 20px */
  --font-size-XL: 1.5rem; /* 24px */
  --font-size-2XL: 2rem; /* 32px */
  --font-size-3XL: 2.5rem; /* 40px */
  --font-size-4XL: 3rem; /* 48px */
  --font-size-5XL: 4rem; /* 64px */
  /* MOBILE BREAKPOINT, SCALE 1.25 */
  /* COLORS */
  /* NEUTRALS */
  --neutral-50: #F2F2F3;
  --neutral-100: #CBCBCC;
  --neutral-200: #B7B7B8;
  --neutral-300: #98999A;
  --neutral-400: #6F6F71;
  --neutral-500: #4C4C4D;
  --neutral-600: #333333;
  --neutral-700: #1F1F1F;
  --neutral-800: #121212;
  /* OVERLAY COLORS */
  --overlay-light-80: rgba(240, 240, 240, 0.8);
  /* PROJECT THEMES */
  --ridemetric: #fe5915;
  --heca: #4DB2A6;
  /* BORDER */
  /* BORDER RADIUS */
  --radius-circle: 50%;
  --radius-pill: 9999px;
  --radius-XS: 4px;
  --radius-S: 8px;
  --radius-M: 12px;
  --radius-L: 16px;
  --radius-XL: 24px;
  /* SPACING */
  /* Spacing tokens */
  --space-2: 0.125rem; /* 2px */
  --space-4: 0.25rem; /* 4px */
  --space-8: 0.5rem; /* 8px */
  --space-12: 0.75rem; /* 12px */
  --space-16: 1rem; /* 16px */
  --space-24: 1.5rem; /* 24px */
  --space-32: 2rem; /* 32px */
  --space-40: 2.5rem; /* 40px */
  --space-48: 3rem; /* 48px */
  --space-56: 3.5rem; /* 56px */
  --space-64: 4rem; /* 64px */
  --space-72: 4.5rem; /* 72px */
  --space-80: 5rem; /* 80px */
  --space-88: 5.5rem; /* 88px */
  --space-96: 6rem; /* 96px */
  --space-104: 6.5rem; /* 104px */
  --space-112: 7rem; /* 112px */
  --space-120: 7.5rem; /* 120px */
  --space-128: 8rem; /* 128px */
  --space-136: 8.5rem; /* 136px */
  --space-144: 9rem; /* 144px */
  --space-152: 9.5rem; /* 152px */
  --space-160: 10rem; /* 160px */
  --space-168: 10.5rem; /* 168px */
  --space-176: 11rem; /* 176px */
}
@media screen and (max-width: 768px) {
  :root {
    --font-size-XS: 0.625rem; /* 10px */
    --font-size-S: 0.75rem; /* 12px */
    --font-size-M: 1rem; /* 16px */
    --font-size-L: 1rem; /* 16px */
    --font-size-XL: 1.25rem; /* 20px */
    --font-size-2XL: 1.5rem; /* 24px */
    --font-size-3XL: 2rem; /* 32px */
    --font-size-4XL: 2.5rem; /* 40px */
    --font-size-5XL: 3rem; /* 48px */
  }
}
@media screen and (max-width: 768px) {
  :root {
    --space-2: 0.0625rem; /* 1px */
    --space-4: 0.125rem; /* 2px */
    --space-8: 0.25rem; /* 4px */
    --space-12: 0.375rem; /* 6px */
    --space-16: 0.5rem; /* 8px */
    --space-24: 0.75rem; /* 12px */
    --space-32: 1rem; /* 16px */
    --space-40: 1.25rem; /* 20px */
    --space-48: 1.5rem; /* 24px */
    --space-56: 1.75rem; /* 28px */
    --space-64: 2rem; /* 32px */
    --space-72: 2.25rem; /* 36px */
    --space-80: 2.5rem; /* 40px */
    --space-88: 2.75rem; /* 44px */
    --space-96: 3rem; /* 48px */
    --space-104: 3.25rem; /* 52px */
    --space-112: 3.5rem; /* 56px */
    --space-120: 3.75rem; /* 60px */
    --space-128: 4rem; /* 64px */
    --space-136: 4.25rem; /* 68px */
    --space-144: 4.5rem; /* 72px */
    --space-152: 4.75rem; /* 76px */
    --space-160: 5rem; /* 80px */
    --space-168: 5.25rem; /* 84px */
    --space-176: 5.5rem; /* 88px */
  }
}

/* Font Styles */
.H1-regular {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-size: var(--font-size-5XL);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1.28px;
}

.H1-bold {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-size: var(--font-size-5XL);
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1.28px;
}

.H2-bold {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 700; /* bold */
  font-size: var(--font-size-3XL);
  line-height: 1.3;
  letter-spacing: 0;
}

.H2-regular {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 400; /* regular */
  font-size: var(--font-size-3XL);
  line-height: 1.3px;
  letter-spacing: 0;
}

.H3-bold, .section-header h3 {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-2XL);
  line-height: 1.4;
  letter-spacing: 0;
}

.H3-regular {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-2XL);
  line-height: 1.4;
  letter-spacing: 0;
}

.H4-bold {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-XL);
  line-height: 1.3;
  letter-spacing: 0;
}

.H4-regular {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-XL);
  line-height: 1.3;
  letter-spacing: 0;
}

.Body-L-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-L);
  line-height: 1.5;
  letter-spacing: 0;
}

.Body-L-regular, .section-header p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-L);
  line-height: 1.5;
  letter-spacing: 0;
}

.Body-L-medium, .btn-display-type.primary p, .btn-display-type.secondary p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-L);
  line-height: 1.5;
  letter-spacing: 0;
}

.Body-M-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-M);
  line-height: 1.5;
  letter-spacing: 0;
}

.Body-M-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-M);
  line-height: 1.5;
  letter-spacing: 0;
}

.Caption-S-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-S);
  line-height: 1.4;
  letter-spacing: 0;
}

.Caption-XS-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-XS);
  line-height: 1.4;
  letter-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* GLOBAL LINK RESET */
a,
a:hover,
a:visited,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body::-moz-selection {
  background: #8314FF;
  color: white;
}

body::selection {
  background: #8314FF;
  color: white;
}

/* FORCE SCROLLBAR TO PREVENT LAYOUT SHIFT */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Main breakpoints:
1440px
1200px
768px
*/
/* LAYOUT CONTAINERS */
/* MAIN CONTAINER */
.main-container {
  width: flex;
  margin: 0 200px;
  padding-bottom: 80px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .main-container {
    margin: 0 60px;
  }
}
@media screen and (max-width: 1200px) {
  .main-container {
    margin: 0 32px;
  }
}
@media screen and (max-width: 768px) {
  .main-container {
    margin: 0 16px;
    padding-bottom: 32px;
  }
}

/* PROJECT CONTAINER */
.project-container {
  width: 1320px;
  margin: 0 auto;
  align-items: center;
}
@media screen and (max-width: 1720px) {
  .project-container {
    width: calc(100% - 400px);
  }
}
@media screen and (max-width: 1440px) {
  .project-container {
    width: calc(100% - 120px);
  }
}
@media screen and (max-width: 1200px) {
  .project-container {
    width: calc(100% - 64px);
  }
}
@media screen and (max-width: 768px) {
  .project-container {
    width: calc(100% - 32px);
  }
}

/* HEADER COMPONENTS */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
@media screen and (max-width: 768px) {
  .header-main {
    height: 80px;
  }
}

/* Header text responsive styles */
@media screen and (max-width: 768px) {
  .header-text {
    font-size: var(--font-size-3XL);
    line-height: 36px;
  }
}

/* Slogan section */
.slogan-section {
  margin-bottom: 56px;
}
@media screen and (max-width: 768px) {
  .slogan-section {
    margin-bottom: 32px;
  }
}

/* Slogan section styles */
.slogan-text {
  margin-bottom: 6px;
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-3XL);
  line-height: 36px;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .slogan-text {
    font-size: var(--font-size-XL);
    line-height: 130%;
  }
}

.slogan-divider {
  border: none;
  height: 2px;
  background: linear-gradient(to right, var(--ridemetric), white);
}

/* PROJECT GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 32px;
}

.thumbnail-offset-top {
  margin-top: 32px;
}

@media screen and (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .thumbnail-offset-top {
    margin-top: 0;
  }
}
/* THUMBNAILS */
.thumbnail-home {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 556px;
  padding: var(--space-32);
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-L);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .thumbnail-home {
    height: 400px;
  }
}

.thumbnail-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.thumbnail-home:hover::before {
  transform: scale(1.07);
}

.thumbnail-home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 152px;
  background: linear-gradient(to top, black 0%, transparent 100%);
  opacity: 1;
  border-bottom-left-radius: var(--radius-L);
  border-bottom-right-radius: var(--radius-L);
  z-index: 1;
}

.thumbnail-text {
  color: var(--neutral-50);
  z-index: 2;
}

/* NEW DARK THUMBNAIL COMPONENT */
.thumbnail-home-dark {
  position: relative;
  flex: 1;
  height: 556px;
  padding: var(--space-32);
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-L);
  overflow: hidden;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .thumbnail-home-dark {
    height: 400px;
  }
}

.thumbnail-home-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

/* DARK OVERLAY */
.thumbnail-home-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  border-radius: var(--radius-L);
  z-index: 1;
}

/* STATUS TEXT */
.thumbnail-home-dark .status-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--neutral-200);
  margin: 0;
  z-index: 2;
  text-align: center;
  white-space: nowrap;
}

/* PROJECT HEADER */
.project-header {
  display: flex;
  height: 84px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 80px 0 16px 0;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
@media screen and (max-width: 768px) {
  .project-header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    gap: 24px;
    margin: 24px 0 16px 0;
  }
}

.project-header.is-loaded {
  opacity: 1;
}

/* PROJECT TITLE AND DETAILS */
.project-title {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .project-title {
    font-size: var(--font-size-5XL);
    line-height: 62.4px;
    letter-spacing: 0.96px;
  }
}

.project-details {
  position: relative;
  width: 299px;
  color: var(--neutral-300);
  text-align: right;
  margin-left: 32px;
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .project-details {
    width: 100%;
    text-align: left;
    margin-left: 0;
    padding-right: 0;
  }
}

/* HEADER LINE */
.header-line {
  height: 2px;
  width: 100%;
  border: none;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .header-line {
    margin-bottom: 48px;
  }
}

/* PROJECT INTRO */
.project-intro {
  max-width: 702px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-4XL);
  line-height: 44.8px;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .project-intro {
    font-size: var(--font-size-3XL);
    line-height: 36px;
  }
}

/* HERO IMAGE */
.hero-image {
  display: block;
  width: 100%;
  height: 650px;
  border-radius: var(--radius-L);
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--neutral-200);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1720px) {
  .hero-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1320/650;
  }
}
@media screen and (max-width: 768px) {
  .hero-image {
    aspect-ratio: 1/1;
  }
}

/* SCOPE AND CHALLENGES SECTION */
.scope-challenges {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  margin-top: 80px;
}
@media screen and (max-width: 1200px) {
  .scope-challenges {
    gap: 40px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .scope-challenges {
    flex-direction: column;
    margin-top: 24px;
    gap: 24px;
  }
}

.scope-challenges__frame {
  width: 100%;
  height: 400px;
  padding: 24px 40px;
  background-color: var(--neutral-50);
  border-radius: var(--radius-L);
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .scope-challenges__frame {
    height: auto;
    margin-top: 0px;
    padding: 24px;
  }
}

.scope-challenges__title {
  width: 100%;
  font-family: "Kontrapunkt Miki", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-2XL);
  line-height: 44.8px;
  letter-spacing: 0;
  color: var(--neutral-800);
}
@media screen and (max-width: 768px) {
  .scope-challenges__title {
    font-size: var(--font-size-3XL);
    line-height: 36px;
  }
}

.scope-challenges__text {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-XL);
  line-height: 27px;
  letter-spacing: 0;
  color: var(--neutral-800);
}

/* LIST STYLES */
.scope-challenges__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.scope-challenges__list-item {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-L);
  line-height: 27px;
  letter-spacing: 0;
  color: var(--neutral-800);
  padding-left: 24px;
  position: relative;
  margin-bottom: 16px;
}

/* BULLET POINT STYLE */
.scope-challenges__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--neutral-800);
}

/* NAVIGATION */
.nav-main {
  display: flex;
  gap: var(--space-40);
  justify-content: center;
}

.main-nav__link {
  display: flex;
  align-items: center;
}

.home-nav__link {
  font-family: "Kontrapunkt Miki", sans-serif;
  font-size: var(--font-size-4XL);
  font-weight: 400;
  line-height: 44.8px;
  color: var(--neutral-300);
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .home-nav__link {
    display: none;
  }
}

.nav-mobile {
  display: none;
  width: 44px;
  height: 44px;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--neutral-50);
  border-radius: var(--radius-M);
  background-color: white;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 100;
}

.nav-desktop {
  display: block;
}

/* NAV PROJECT DISPLAY TYPE */
.nav-display-type-container {
  width: 336px;
  height: 80px;
  border-radius: var(--radius-XL);
  background-color: var(--overlay-light-80);
  margin: 16px auto 64px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

/*
  position: -webkit-sticky;
  position: sticky;
  top: 16px;
  z-index: 10; */
.btn-display-type {
  width: 140px;
  height: 54px;
  border-radius: var(--radius-M);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-display-type.primary {
  background-color: var(--neutral-500);
}

.btn-display-type.primary p {
  color: white;
}

.btn-display-type.secondary {
  background-color: var(--neutral-50);
}

.btn-display-type.secondary:hover {
  background-color: var(--neutral-100);
}

.btn-display-type.secondary p {
  color: var(--neutral-800);
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}
/* TEXT HOVER EFFECT */
.hover-color {
  color: var(--neutral-300);
  transition: color 0.3s ease;
}

.hover-color:hover {
  color: var(--neutral-800);
}

/* SECTION COMPONENTS */
.section-header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (max-width: 768px) {
  .section-header {
    flex-direction: column;
    gap: 8px;
  }
}

.section-header p {
  width: 50%;
  color: var(--neutral-400);
}
@media screen and (max-width: 768px) {
  .section-header p {
    width: 100%;
  }
}

.section-header-end {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}

.section-header-end .go-up {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 300ms ease-in-out;
}

.section-header-end .go-up .desktop {
  display: block;
}
@media screen and (max-width: 768px) {
  .section-header-end .go-up .desktop {
    display: none;
  }
}

.section-header-end .go-up:hover {
  transform: translateY(-4px);
}

/* SECTION PLACEHOLDER */
.section-placeholder {
  width: 100%;
  height: 800px;
  background-color: var(--neutral-50);
  position: relative;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1440px) {
  .section-placeholder {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}

/* SECTION IMAGE */
.section-image {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

/* HORIZONTAL SCROLL SECTION */
.projects-carausel-container {
  height: 300px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  overflow-x: auto;
}

.projects-carausel-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 392px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-L);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  padding: var(--space-32);
}
@media screen and (max-width: 768px) {
  .projects-carausel-card {
    min-width: 300px;
    max-width: calc(100% - 32px);
  }
}

.projects-carausel-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.projects-carausel-card:hover::before {
  transform: scale(1.07);
}

/* Dark gradient under text */
.projects-carausel-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 152px;
  background: linear-gradient(to top, black 0%, transparent 100%);
  opacity: 1;
  border-bottom-left-radius: var(--radius-L);
  border-bottom-right-radius: var(--radius-L);
  z-index: 1;
}

/* .projects-carausel-card-title {
  position: absolute;
  bottom: 64px;
  left: 32px;
  right: 32px;
  color: var(--neutral-50);
  margin: 0;
  z-index: 2;  
} */
.projects-carausel-card-subtitle {
  position: absolute;
  top: calc(100% - 64px);
  left: 32px;
  right: 32px;
  color: var(--neutral-50);
  margin: 0;
  z-index: 2;
  font-family: "Kontrapunkt Miki", sans-serif;
  font-size: var(--font-size-L);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}

.wip-message-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--space-160);
  background-color: var(--neutral-50);
  border-radius: var(--radius-L);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

img.is-loaded {
  opacity: 1;
}

.thumbnail-home.is-loaded, .thumbnail-home-dark.is-loaded {
  opacity: 1;
}

/* FOOTER */
.footer-main {
  display: block;
  justify-content: center;
  width: auto;
  margin-top: var(--space-176);
  margin-bottom: var(--space-104);
  gap: var(--space-120);
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

@media screen and (max-width: 768px) {
  .footer-text {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.footer-divider {
  border: none;
  height: 2px;
  background: var(--neutral-100);
  margin-bottom: var(--space-40);
}

.footer-copyright {
  color: var(--neutral-300);
}

@media screen and (max-width: 768px) {
  .footer-copyright {
    display: none;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--space-16);
}/*# sourceMappingURL=style.css.map */