/* Font declarations */
@font-face {
  font-family: 'Kontrapunkt Miki';
  src: url('fonts/KontrapunktMiki-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kontrapunkt Miki';
  src: url('fonts/KontrapunktMiki-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kontrapunkt Miki';
  src: url('fonts/KontrapunktMiki-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}



:root {
  /* Neutral colors from lightest to darkest */
  --neutral-50: #F2F2F3;
  --neutral-100: #CBCBCC;
  --neutral-200: #B7B7B8;
  --neutral-300: #98999A;
  --neutral-400: #6F6F71;
  --neutral-500: #4C4C4D;
  --neutral-600: #333333;
  --neutral-800: #1F1F1F;
  --neutral-900: #121212;
}

/* Font Styles */

.Body-XL-semibold {
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-weight: 600; /* semibold */
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

.Body-XL-medium {
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-weight: 500; /* medium */
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0;
}

.Body-L-medium {
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-weight: 500; /* medium */
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.H2-bold {
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-weight: 700; /* bold */
  font-size: 32px;
}
.H2-regular {
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-weight: 400; /* regular */
  font-size: 32px;
}

.H3-bold {
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

/* Thumbnails */

.thumbnail-home {
  position: relative;
  flex: 1;
  height: 556px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.thumbnail-home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.thumbnail-home:hover::before {
  transform: scale(1.1);
}

.thumbnail-home::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 152px;
  background: linear-gradient(to top, black 0%, transparent 100%);
  opacity: 1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 1;
}

.thumbnail-title {
  position: absolute;
  bottom: 64px;
  left: 32px;
  right: 32px;
  color: var(--neutral-50);
  margin: 0;
  z-index: 2;
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.thumbnail-subtitle {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  color: var(--neutral-50);
  margin: 0;
  z-index: 2;
  font-family: 'Kontrapunkt Miki', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}